DB_URI=postgresql+asyncpg://{}:{}@{}:{}/{}
DB_HOST=host
DB_PORT=port 
DB_USER=user
DB_NAME=name
DB_PASSWORD=pwd

SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_METHODS=["OPTIONS", "DELETE", "POST", "GET", "PATCH"]
CIPHER_ALGORITHM=RS256
CIPHER_SECRET_KEY=b64pemsecret
CIPHER_PUBLIC_KEY=b64pempublic
CIPHER_ACCESS_TOKEN_EXPIRE_SECONDS=1800
CIPHER_REFRESH_TOKEN_EXPIRE_SECONDS=604800

REDIS_HOST=host

LOG_LEVEL=INFO
PROJECT_NAME=Test
PROJECT_VERSION=0.0.1